# Web3Forms API Key
# This key is designed to be public (client-side submission). 
# You can restrict it to your domain in the Web3Forms dashboard.
NEXT_PUBLIC_WEB3FORMS_ACCESS_KEY="74f7f50e-0299-42c7-bf1f-33cde51f4685"
